<div class="footer border-top">
  <footer class="py-2 text-center text-lg-start">
    <section>
      <div class="container text-center text-md-start ">
        <div class="row mt-3">
          <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase mb-4">
            <i class="fas fa-gem me-3"></i>Dev.Work
          </h6>
          <p>
            Find developers to work with and solve complex challenges together!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase mb-4">
            Dev language
          </h6>
          <p>
            <%= link_to "Ruby on rails", "#", class: "text-reset"%>
          </p>
          <p>
            <%= link_to "JavaScript", "#", class: "text-reset"%>
          </p>
          <p>
            <%= link_to "Python", "#", class: "text-reset"%>
          </p>
          <p>
            <%= link_to "View more", "#", class: "text-reset"%>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase mb-4">
            Useful links
          </h6>
          <p>
            <a href="#" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#" class="text-reset">Account info</a>
          </p>
          <p>
            <a href="#" class="text-reset">Your orders</a>
          </p>
          <p>
            <a href="#" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase mb-4">Contact us</h6>
          <p><i class="fa-solid fa-map me-3"></i></i>Rue de Vermont 1209, Geneva</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <%= link_to  "devworks@gmail.com", "#"  %>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 41 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      </div>
    </section>

    <section class="p-4 border-top">
      <div class="me-3 d-none d-lg-block text-center mb-2">
        <span>Connect with us: </span>
      </div>
      <div class="links d-flex justify-content-center ">
        <%= link_to "https://www.twitter.com", target:"_blank" do   %>
          <%= fa_stacked_icon "twitter", base: "square-o", class: "me-4" %>
        <% end %>
        <%= link_to "https://www.facebook.com", target:"_blank" do   %>
          <%= fa_stacked_icon "facebook", base: "square-o", class: "me-4" %>
        <% end %>
        <%= link_to "https://www.github.com", target:"_blank" do   %>
          <%= fa_stacked_icon "github", base: "square-o", class: "me-4" %>
        <% end %>
        <%= link_to "https://www.instagram.com", target:"_blank" do   %>
          <%= fa_stacked_icon "instagram", base: "square-o", class: "me-4" %>
        <% end %>
      </div>
    </section>
  </footer>
</div>
