<div class="container text-center">
  <h1>Welcome to Dev.works</h1>
  <p>Find challenges below and help out fellow developers</p>
</div>

<div class="container mt-5 mb-3 cards">
    <div class="row">
      <% @challenges.each do |challenge| %>
        <div class="col-md-4">
            <div class="card p-3 mb-2 card-bg">
                <div class="d-flex justify-content-between border-bottom pb-3">
                    <div class="d-flex flex-row align-items-center ">
                      <img  src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class = "avatar-img" alt="">
                        <div class="ms-2 c-details">
                          <%= challenge.user.name %>
                        </div>
                    </div>
                    <div class="badge"> <span><%= challenge.filter.name %></span> </div>
                </div>
                <div class="mt-5">
                    <h4 class="heading"><%= challenge.title %></h4>
                    <div class="mt-5">
                        <div class="mt-3"> <span class="text1">Deadline: <span class="text2"><%= challenge.deadline %></span></span> </div>
                    </div>
                </div>
                <%= link_to "View details", "#", target:"_blank", class:"btn btn-danger"%>
            </div>
        </div>
      <% end %>


      </div>
    </div>
</div>
