<% if current_page?(owner_challenges_path) %>
  <div class="container text-center index-image">
    <h1>Welcome to Dev.Work</h1>
    <p>Find your challenges below</p>
  </div>
<% else %>
  <div class="container text-center index-image">
    <h1>Welcome to Dev.Work</h1>
    <p>Find challenges below and help out fellow developers</p>
  </div>
<% end %>

<div class="container mt-5 mb-3 cards">
  <div class="row">
    <% @challenges.each_with_index do |challenge, index| %>
      <div class="col-md-4">
        <div class="card p-3 mb-2 card-bg">
          <div class="d-flex justify-content-between border-bottom pb-3">
            <div class="d-flex flex-row align-items-center ">
              <div class="image">
                <%= image_tag(challenge.user.image_url) %>
              </div>
              <div class="ms-2 c-details">
                <h4><%= challenge.user.name %>
                </h4>
              </div>
            </div>
            <div class="badge"><%= challenge.filter.name %>
            </div>
          </div>
          <div class="mt-5">
            <h4 class="heading"><%= challenge.title %>
            </h4>
            <div class="mt-5">
              <div class="mt-3"> <span class="text1">Deadline: <span class="text2"><%= challenge.deadline %>
              </span>
              </span>
              </div>
            </div>
          </div>
          <%= link_to "View details", challenge_path(challenge), target:"_blank", class:"btn btn-dark btn-lg rounded-lg", id:"button"%>
        </div>
      </div>
    <% end %>


    </div>
  </div>
</div>
