<div class="signup border-0">
  <div class="row blank-row">
  </div>
  <div class="row sign-in-container">
    <div class="col-3 sign-in-page">
      <div class="sign-in-box">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.hidden_field :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.hidden_field :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.hidden_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <div class="row justify-content-center">

              <%#= f.button :submit, "Log in", class:"btn btn-success active rounded-5 mb-3" %>
              <%#= button_to "Sign in with GitHub", user_github_omniauth_authorize_path, method: :post %>
        <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
