<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="map-profile">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div style="margin-right:30px">
          <% if challenge.user.image %>
            <%= image_tag challenge.user.image, class: "avatar-custom", style:"height:80px !important; width:80px !important" %>
          <% elsif challenge.user.photo %>
            <%= cl_image_tag challenge.user.photo.key, class: "avatar-custom", style:"height:80px !important; width:80px !important" %>
          <% else %>
            <%= image_tag "userphoto_square.jpg", class:"avatar-custom", style: "height:80px; width:67.8px" %>
          <% end %>
        </div>
      <div class="d-flex flex-row justify-content-between">

        <div class="d-flex flex-column justify-content-center align-items-center">
          <h5 style="color:#555B6E"><%= challenge.user.nickname %>: <%= challenge.title %></h5>
          <div class="d-flex align-items-center">
          <% if !challenge.user.html_url.nil? %>
            <%= link_to "GitHub", challenge.user.html_url, class:"btn rounded-5 btn-sm", style:"background-color:#8d7197; color:white" %>
          <% else %>
            <%= link_to "GitHub", "https://www.github.com", class:"btn rounded-5 btn-sm", style:"background-color:#8d7197; color:white" %>
          <% end %>
          <%= link_to "Challenge", challenge_path(challenge), class:"btn rounded-5 btn-sm", style:"background-color:#8d7197; color:white" %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
