<div class="my-3">
  <div class="container header text-center index-image">
    <div class="container" id="title">
      <h1 class="pt-2">Welcome to Dev.Work</h1>
      <p class="pb-2">Find challenges below and help out fellow developers</p>
    </div>
  </div>
  <div class="container">
    <div data-controller="map"
      id="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value=" <%= @markers.to_json %>"
      style='width: 100%px; height:500px;'>
    </div>
  </div>
  <div class="index-event-card text-center" style="width: 220px;" >
  <h3 style="font-size: large">Are you always working and <u>cannot socialize</u>?</h3>
  <%= image_tag "ad-1 (1).jpg", class:'my-2', style:'width:200px' %>
  <h3 style="font-size: large">You have tried making friends but <u>no coders around you</u>?</h3>
  <%= image_tag "ad-1 (2).jpg", class:'my-2', style:'width:200px' %>
  <h3 style="font-size: large">Are you looking for a <u>place to socialize</u> and <u>talk about coding</u>?</h3>
  <%= image_tag "ad-1 (3).jpg", class:'my-2', style:'width:200px' %>
  <h3 style="font-size: xx-large">Check out <a href="https://www.socialize.tech" class="adlink" style="text-decoration:none !important, color:#555B6E !important">Socialize!</a></h3>
  <%= image_tag "Socialize.png", style:'width:130px' %>

</div>
<% if current_page?(challenges_path) %>
  <div class="d-flex justify-content-between">
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="div">
      <div class="container mt-2 pt-1 bg-white" id="filtertext">
        <% if @filter.present? %>
          <p><%= "Your filter is #{@filter.name}" %></p>
        <% else %>
          <p><%= "Your have not selected any filter" %></p>
        <% end %>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="filterbutton">
        Filter the languages
      </button>
      <%= link_to "Reset filters", challenges_path, class:"btn btn-secondary", id:"resetfilterbutton"%>
      <ul class="dropdown-menu">
        <% @filters.each do |filter| %>
          <li><%= link_to filter.name, challenges_path(filter: filter.name), class:"dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
    <div class="spacerr"></div>
  </div>
  <% end %>
  <%= render "shared/index-cards" %>
</div>
