<div class="container">
  <div class="offers-left">
    <div class="cardshow my-3 p-4">
      <div class="card-image">
        <%= image_tag(@challenge.user.image_url) if @challenge.user.image_url%>
      </div>
      <div class="card-body">
        <h1><%= @challenge.title %></h1>
        <p><strong>Maximum price: </strong>€<%= @challenge.price_max %></p>
        <p><strong>Deadline: </strong><%= @challenge.deadline %></p>
        <p><strong>Language: </strong><%= @challenge.filter.name %></p>
        <p><%= @challenge.content %></p>
      </div>
    </div>

  <% if current_user != @challenge.user %>
    <div class="cardshow my-3 p-4">
      <div class="card-body">
        <h2>Offer your skills</h2>
        <p>Do you think you have the required skills? Let them know for how much
           you could do the challenge and how long it will take you:</p>
        <%= simple_form_for [@challenge, @booking] do |f| %>
          <div class="row d-flex flex-row justify-content-around">
            <div class="col-3">
              <%= f.input :price, label: "Price in €" %>
            </div>
            <div class="col-8">
              <%= f.input :date, label: 'Proposed date of completion' %>
            </div>
          </div>
        <%= f.submit "Make offer", class:"btn btn-dark btn-lg rounded-lg", id:"button" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>


  <% if !@bookings.empty? && current_user == @challenge.user %>
    <div class="offers-right">
      <div class="cardshow my-3 p-4">
        <div class="card-body">
          <h2>Offers</h2>
          <div>
            <ul class="offers px-0">
              <% @bookings.each do |booking| %>
                <li class="py-5">
                  <h4>User: <%= booking.user.name %> (call me <%= booking.user.nickname %>)</h3>
                  <p>Offered price: €<%= booking.price %></p>
                  <p>Offered date of completion: <%= booking.date %></p>
                  <div class="choose-offer-button">
                    <%= link_to "Accept offer", "#", class: "btn btn-primary" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
