<div class="container d-flex position-relative">
  <div class="offers-left">
    <div class="card my-3 p-4">
      <div class="card-body">
        <h1><%= @challenge.title %></h1>
        <p><%= @challenge.content %></p>
        <p>Maximum price: €<%= @challenge.price_max %></p>
        <p>Deadline: <%= @challenge.deadline %></p>
      </div>
    </div>

    <div class="card my-3 p-4">
      <div class="card-body">
        <h2>Offer your skills</h2>
        <p>Think you have the skills required? Let them know how much you could do the challenge do
          and how long it will take you...</p>
        <%= simple_form_for [@challenge, @booking] do |f| %>
          <%= f.input :price %>
          <%= f.input :date %>
          <%= f.submit "Make offer", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="offers-right ml-3">
    <div class="card my-3 p-4">
      <div class="card-body">
        <% if @bookings.empty? %>
          <h2>No review have been made yet!</h2>
        <% else %>
          <h2>Offers made so far...</h2>
          <div>
            <ul class="offers px-0">
              <% @bookings.each do |booking| %>
                <li class="py-3">
                  <h4>User: <%= booking.user.name %> (call me <%= booking.user.nickname %>)</h3>
                  <p>Offered price: €<%= booking.price %></p>
                  <p>Offered date of completion: <%= booking.date %></p>
                  <div class="choose-offer-button">
                    <%= link_to "Placeholder", "#", class: "btn btn-primary" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
