<div class="container">
  <div class="grid show-grid my-4">
    <div class="left">
      <div class="row show">
        <%# ALL: The challenge itself %>
        <div class="cardshow">
          <div class="card-image">
            <% if @challenge.user.image? %>
              <%= image_tag "#{@challenge.user.image}" %>
            <% elsif @challenge.user.photo.attached? %>
              <%= cl_image_tag(@challenge.user.photo.key) %>
            <% end %>
          </div>
          <h6><i class="fa-sharp fa-solid fa-location-dot fa-xl"></i> <%= @challenge.location %> </h6>
          <div class="card-body">
            <% if current_user == @challenge.user %>
              <h1><%= @challenge.title %></h1>
              <p><strong>Maximum price: </strong>€<%= @challenge.price_max %></p>
              <p><strong>Deadline: </strong><%= @challenge.deadline.strftime("%B %d, %Y") %></p>
              <p><strong>Language: </strong><%= @challenge.filter.name %></p>
              <p><%= @challenge.content %></p>
              <%= link_to "Delete this challenge", challenge_path(@challenge), class: "btn btn-dark",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete this challenge?" } %>
              <%= link_to "Update this challenge", edit_challenge_path(@challenge), class: "btn btn-info" %>
            <% elsif current_user != @challenge.user %>
              <h1><%= @challenge.title %></h1>
              <p><strong>Maximum price: </strong>€<%= @challenge.price_max %></p>
              <p><strong>Deadline: </strong><%= @challenge.deadline.strftime("%B %d, %Y") %></p>
              <p><strong>Language: </strong><%= @challenge.filter.name %></p>
              <p><%= @challenge.content %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row show-top-right">
        <%# ONLY USERS: Form for those making an offer %>
        <% if current_user != @challenge.user %>
          <div class="cardshow mt-3">
            <div class="card-body">
              <h2>Offer your skills</h2>
              <p>Do you think you have the required skills? Let them know for how much
                you could do the challenge and how long it will take you:</p>
              <%= simple_form_for [@challenge, @booking] do |f| %>
                <div class="row d-flex flex-row justify-content-around">
                  <div class="col-3">
                    <%= f.input :price, label: "Price, €" %>
                  </div>
                  <div class="col-8">
                    <%= f.input :date, label: 'Proposed date of completion' %>
                  </div>
                </div>
              <%= f.submit "Make offer", class:"btn btn-dark btn-lg rounded-lg mt-2", id:"button" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%# ONLY OWNERS: Showing the offers made and able to accept offer %>
        <% if current_user == @challenge.user %>
          <div class="cardshow mt-3">
            <div class="card-body">
              <h2>Offers</h2>
              <% if @bookings.empty? %>
                <p>There are no offers on this challenge! Check back again later...</p>
              <% else %>
                <div>
                  <ul class="px-0 offers">
                    <% @bookings.each do |booking| %>
                      <li class="py-3">
                        <%= cl_image_tag(booking.user.photo.key, class: "avatar") %>
                        <h4>User: <%= booking.user.name %> (call me <%= booking.user.nickname %>)</h3>
                        <p>Offered price: €<%= booking.price %></p>
                        <p>Offered date of completion: <%= booking.date %></p>
                        <div class="choose-offer-button">
                          <%= link_to "Accept offer", "#", class: "btn btn-primary" %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# ALL: Comments left on the challenge %>
    <div class="cardshow p-4">
      <div class="card-body-1">
        <h2>Comments</h2>
        <% if @comments.nil? %>
          <p>There are no comments on this challenge! Check back again later...</p>
        <% else %>
          <div class="comments px-0">
            <% @comments.each do |comment| %>
              <div class="comment py-3">
                <%= cl_image_tag(comment.user.photo.key, class: "avatar") %>
                <%= comment %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
